h1, h2 {
  text-align: center;
}

.lightbulb {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.col {
  float: left;
  width: 25%;
  padding: 10px 0;
}

img {
  width:75px;
  height: 100px;
}

button {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  padding: 6px 3px;
}

button:hover {
  background-color: black;
  color: bisque;
  font-weight: bold;
}

.center, .lightbulb {
  display: flex;  
  justify-content: center;  
  align-items: center;
  margin: 0 auto;
}

body {
  background-color: bisque;
}